body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header, .footer{
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    border-bottom: solid;
}
.footer{
    margin-top: auto;
}
.content{
    display: flex;
}
.navigation{
    border-right: solid;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 3%;
    width: 20%;
    
}
a{
    padding: 10%;
}

main{
    width: 80%;
    padding-left: 10%;
}